{% extends 'base.html' %}
{% block head %}
<script>
 $(function(){
   /* Calculate the price subtotal and total, and add freight*/
   var priceTotal = 0
   var priceSum = 0
   $('.goods_list_td').each(function(){
     count = parseInt($(this).children('.col06').text());
{#     console.log(count)#}
     price = parseFloat($(this).children('.col05').text());
{#     console.log(price)#}
     priceTotal = count*price;
{#     console.log(priceTotal)#}
     $(this).children('.col07').text(priceTotal.toFixed(2));
     priceSum += priceTotal
{#     console.log(priceSum)#}
   });
   $('#gcount').text($('.goods_list_td').length);
   $('#sumtotal').text(priceSum+'Yuan');
   a = parseInt(priceSum)
   b = (priceSum-a).toFixed(2)
   totalPay = parseInt(a+10) + parseFloat(b);
   console.log(totalPay)
   $('#total_pay').text(totalPay+'Yuan');

   /* The click event is triggered when placing an order, which is used to verify whether the order is placed successfully, 
      and display different pages according to the return value of AJAX*/
   $('#order_btn').click(function(){
     orderid = []
     $('.goods_list_td').each(function(){
       orderid.push($(this).attr('id'));
     });

     localStorage.setItem('order_finish',2);

     $.post({
       url:'/order/addorder/',
       dataType:'json',
       type:'POST',
       data:{
         'csrfmiddlewaretoken': '{{ csrf_token }}',
         id:orderid,
         total:totalPay,
         address:$('#oaddress').text(),
       },
     })
      .done(function(data){
        if(data.status == 1){
          $('.popup_con p').text('Orders submitted successfully! ');
          $('.popup_con').fadeIn('fast', function() {
            setTimeout(function(){
              $('.popup_con').fadeOut('fast',function(){
	        window.location.href = '/user/user_center_order&1/';
              });
            },3000)
          });
        }
        else if(data.status == 2){
          $('.popup_con p').text('Please modify if it exceeds the stock! ');
          $('.popup_con').fadeIn('fast', function() {
            setTimeout(function(){
              $('.popup_con').fadeOut('fast',function(){
	        window.location.href = '/cart/';
              });
            },3000)
          });
        }
      });

   });

 })
</script>

{% endblock head %}
{% block body %}
<h3 class="common_title">Confirm shipping address</h3>

<div class="common_list_con clearfix">
<dl>
<dt>Send to:</dt>
<dd><input type="radio" id="oaddress" name="" checked="">{{user.uaddress}} ({{user.ushou}} received) {{ureceive_phone}}</dd>
</dl>
<a href="user_center_site.html" class="edit_site">Edit delivery address</a>

	</div>
	
	<h3 class="common_title">Payment method</h3>
  <div class="common_list_con clearfix">
    <div class="pay_style_con clearfix">
      <input type="radio" name="pay_style" checked>
      <label class="cash">Cash on delivery</label>
      <input type="radio" name="pay_style">
      <label class="weixin">WeChat Pay</label>
      <input type="radio" name="pay_style">
      <label class="zhifubao"></label>
      <input type="radio" name="pay_style">
      <label class="bank">Bank card payment</label>
    </div>
  </div>

	<h3 class="common_title">Product list</h3>

  <div class="common_list_con clearfix">
    <ul class="goods_list_th clearfix">
    <li class="col01">Product name</li>
    <li class="col02">Commodity unit</li>
    <li class="col03">Product price</li>
    <li class="col04">Quantity</li>
    <li class="col05">Subtotal</li>
    </ul>
		{%for order in orderlist %}
		<ul class="goods_list_td clearfix" id="{{order.id}}">
			<li class="col01">{{order.id}}</li>
			<li class="col02"><img src="/static/{{order.goods.gpic}}"></li>
			<li class="col03">{{order.goods.gtitle}}</li>
			<li class="col04">{{order.goods.gunit}}</li>
			<li class="col05">{{order.goods.gprice}}</li>
			<li class="col06">{{order.count}}</li>
			<li class="col07">{{order.goods.gprice}}</li>
		</ul>
		{%endfor%}
	</div>

	<h3 class="common_title">Total amount settlement</h3>

	<div class="common_list_con clearfix">
    <div class="settle_con">
      <div class="total_goods_count">A total of <em id="gcount">2</em> items, the total amount is <b id="sumtotal">42.60 yuan</b></div>
      <div class="transit">Shipping fee: <b>10 yuan</b></div>
      <div class="total_pay">Actual payment: <b id="total_pay">52.60 yuan</b></div>
    </div>
  </div>

	<div class="order_submit clearfix">
		<a href="javascript:;" id="order_btn">Submit orders</a>
	</div>

<div class="popup_con">
  <div class="popup">
    <p></p>
  </div>

  <div class="mask"></div>
</div>
{% endblock body %}
