
{%extends 'user/base.html'%}
{% block right_content %}
<div class="right_content clearfix">
	<div class="info_con clearfix">
	<h3 class="common_title2">Basic information</h3>
	<ul class="user_info_list">
	<li><span>Username:</span>{{user_name}}</li>
	<li><span>Contact information:</span>{{user_email}}</li>
	<li><span>Contact address:</span>gaya District, Bihar</li>
	</ul>
	</div>
	
	<h3 class="common_title2">Recently viewed</h3>
	<div class="has_view_list">
	<ul class="goods_type_list clearfix">
	
	{%for goods in goods_list%}
	<li>
	<a href="/{{goods.id}}"><img src="/static/{{goods.gpic}}"></a>
	<h4><a href="detail.html">{{goods.gtitle}}</a></h4>
	<div class="operate">
	<span class="prize">￥{{goods.gprice}}</span>
	<span class="unit">{{goods.gprice}}/{{goods.gunit}}</span>
	<a href="#" class="add_goods" title="add to cart"></a>
	</div>
	</li>
	{%endfor%}
	</ul>
	</div>
	</div>


{% endblock right_content %}