{%extends 'base.html'%}
{%block head%}
<script>
/* delete*/
   function cart_del(cart_id){
   		del=confirm('You sure you want to delete it?');
   		if(del){
   			$.get('/cart/delete'+cart_id+'/',function(data){
{#   				if(data.ok==1){#}
                $('ul').remove('#'+cart_id);
                $('.total_count1').text(data.count)
                $('.countGood').text(data.count)
                calculateTotal();
{#   				}#}

   			});
   		}
   }

 $(function(){

 /* Calculate price quantity function*/
 function calculateTotal(){
     /* Subtotal price*/
     var sumTotal = 0;
     var countGood = 0;
     $('.col07').each(function(){
//Get the quantity
       count = $(this).prev().find('input').val();
//Get unit price
       price = $(this).prev().prev().text();
		//Subtotal
       total01 = parseInt(count) * parseFloat(price);
       $(this).text(total01.toFixed(2));

       if($(this).siblings('.col01').children('input').prop('checked')){
         sumTotal += parseFloat(total01.toFixed(2));
         countGood += 1;
       }

     });
     /* Total price*/
     $('#sumtotal').text(sumTotal);
     $('.countGood').text(countGood);
   };

   calculateTotal();


/* Check the main switch*/
   $('#checkToggle').click(function(){
     state = $(this).prop('checked');
     $('.checkbox').prop({'checked':state});
     calculateTotal();
   });

   /* Single check switch*/
   $('.checkbox').change(function(){
     checked();
     calculateTotal();
   });
   function checked(){
     if($('input[name=checked]:checked').length == $('input[name=checked]').length){
       $('#checkToggle').prop({'checked':true});
     }
     else{
       $('#checkToggle').prop({'checked':false});
     };
   };



   /* Add */
   $('.add').click(function(){
     txt = $(this).next();
     if (txt.val()<100){
       txt.val(parseFloat(txt.val())+1).blur();
     };
     goodid = $(this).parents('.cart_list_td').attr('id');
     count = $(this).val();
     url = '/cart/edit'+goodid+'_'+count+'/';
     $.get(url,function(data){
       if(data.status=1){
       }
     });
     	calculateTotal();
   });

   /* reduce*/
   $('.minus').click(function(){
     txt = $(this).prev();
     if (txt.val()>1){
       txt.val(parseFloat(txt.val())-1).blur();
     };
     goodid = $(this).parents('.cart_list_td').attr('id');
     count = $(this).val();
     url = '/cart/edit'+goodid+'_'+count+'/';
     $.get(url,function(data){
       if(data.status=1){
       }
     });
     calculateTotal();
   });

/* Manual modification*/
   $('.num_show').blur(function(){
     count = $(this).val();
     if (count<=0){
       $(this).val(1);
     }
     else if(count>=100){
       $(this).val(99);
     }
     goodid = $(this).parents('.cart_list_td').attr('id');
     count = $(this).val();
     url = '/cart/edit'+goodid+'_'+count+'/';
     $.get(url,function(data){
     });
     calculateTotal();
   });
 })
 </script>
{%endblock head%}
{%block body%}
	<div class="total_count">All products<em class="total_count1">{{ len }}</em> pieces</div>
<ul class="cart_list_th clearfix">
<li class="col01">Product name</li>
<li class="col02">Commodity unit</li>
<li class="col03">Product price</li>
<li class="col04">Quantity</li>
<li class="col05">Subtotal</li>
<li class="col06">Operation</li>
</ul>
<form action="/order/" method="GET">
    {%for cart in carts%}

	<ul class="cart_list_td clearfix" id="{{cart.id}}">
		<li class="col01"><input type="checkbox" name="orderid" value="{{cart.id}}" checked="" class="checkbox"></li>
		<li class="col02"><img src="/static/{{cart.goods.gpic}}"></li>
		<li class="col03">{{cart.goods.gtitle}}<br><em>{{cart.goods.gprice}}Yuan/{{cart.goods.gunit}}</em></li >
      <li class="col04">{{cart.goods.gunit}}</li>
      <li class="col05">{{cart.goods.gprice}}</li>
      <li class="col06">
      <div class="num_add">
      <a href="javascript:;" class="add fl">+</a>
      <input type="text" class="num_show fl" value="{{cart.count}}">
      <a href="javascript:;" class="minus fl">-</a>
      </div>
      </li>
      <li class="col07">25.80 yuan</li>
      <li class="col08"><a href="javascript:cart_del({{cart.id}});">Delete</a></li>
		<!--class="del_good-->
	</ul>
	{%endfor%}

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked="" id="checkToggle"></li>
		<li class="col01"><input type="checkbox" name="" checked="" id="checkToggle"></li>
		<li class="col02">Select all</li>
    <li class="col03">Total (excluding freight): <span>¥</span><em id="sumtotal"></em><br>Total<b class="countGood"></b >items</li>
    <li class="col04"><input class="order" name="" type="submit" value="Go to settlement"/></li>
	</ul>
</form>
{%endblock body%}