
{%extends 'base_foot.html'%}
{% block header %}
<div class="header_con">
    <div class="header">
        <div class="welcome fl">Welcome to Tiantian Fresh!</div>
        <div class="fr">
            {% if request.session.user_name %}
             <div class="user_link fl">
                <a href="{% url 'user:info' %}">Welcome to you: {{request.session.user_name}}</a>
                <span>|</span>
                 <a href="{% url 'user:logout'%}">Sign out</a>
                <span>|</span>
                <a href="{% url 'user:info' %}">User Center</a>
                <span>|</span>
                <a href="{% url 'cart:cart' %}">My shopping cart</a>
                <span>|</span>
                <a href="{% url 'user:user_center_order' 1 %}">My order</a>
            </div>
            {% else %}
            <div class="login_btn fl">
                <a href="{% url 'user:login' %}">Login</a>
                <span>|</span>
                <a href="{% url 'user:register' %}">Register</a>
            </div>
            {% endif %}

        </div>
    </div>
</div>
<div class="search_bar clearfix">
    <a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
    {% if page_name == 1%}
    <div class="sub_page_name fl">{{title}}</div>
    <form method='get' action="/search/" target="_blank">
    <div class="search_con fr">
        <input type="text" class="input_text fl" name="q" placeholder="search products">
        <input type="submit" class="input_btn fr" name="" value="search">
    </div>
    </form>
    {% endif %}
    {% if guest_cart == 1 %}
    <form method='get' action="/search/" target="_blank">
    <div class="search_con fl">
        <input type="text" class="input_text fl" name="q" placeholder="search products">
        <input type="submit" class="input_btn fr" name="" value="search">
    </div>
    </form>



  {% if request.session.user_name %}
  <div class="guest_cart fr">
        <a href="/cart/" class="cart_name fl">My shopping cart</a>
        <div class="goods_count fl" id="show_count">{{count}}</div>
    </div>
  {% else %}
  <div class="guest_cart fr">
    <a href="/user/login/" class="cart_name fl">My shopping cart</a>
  </div>
  {% endif %}
  {% endif %}
</div>
{% endblock header %}
{% block body  %}
{% endblock body  %}